<% provide(:title, 'Sign-up')%>

<section class="sign_in_up">
  <div class="auth_form_wrapper">
    <div class="cover_deco_auth">
    </div>
    <div class="form_header">
      <h1>SIGN-UP</h1>
    </div>
    <div class="auth_form">
      <div class="form_container">

        <%= form_with(model: @user, local: true) do |form| %>
    
          <div class="field">
            <%= form.label :name %>
            <%= form.text_field :name, autofocus: true, placeholder: 'Type your name here!' %>
          </div>
    
          <div class="actions">
            <%= form.submit 'Create your account'%>
          </div>
        <% end %>

      </div>

    </div>
  </div>
</section>
