<% if my_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(my_model.errors.count, "error") %> occured:</h2>

      <ul>
        <% my_model.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>