@import 'settings.scss';

.article_editor {
  height: calc(100vh - var(--nav_height_desk) - var(--footer_height_desktop));
  background-color: white;
  background-image: asset-data-url("patern.png");
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    min-height: 95%;
    min-width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: [row1-start] 1fr [row1-end row2-start] 4fr [row2-end];
    grid-template-areas:
      "cover form_header"
      "cover form";
    border-radius: 20px;
    column-gap: 1rem;
  }
}

.editor_article_content {
  grid-area: cover;
  background-color: $my_white;
  overflow: hidden;
  padding: 1.5rem;
}

.editor_article_content_wrapper {
  // background-color: yellow;
  height: 98%;

  .content_header {
    font-size: 0.9rem;
    font-weight: 600;
    color: $color_logo_main;
    font-family: $font_bold;
  }

  .content_area {
    border: none;
    border-left: 2px solid $dark_blue;
    background-color: $my_light_grey;
    padding: 1rem;
    width: 100%;
    height: 93%;
    margin-top: 1rem;
    font-size: 1rem;
  }
}

.editor_article_header {
  grid-area: form_header;
  background-color: $my_white;
  // background-color: chocolate;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font_bold;

  h1 {
    font-size: 2.5rem;
    color: $color_logo_second;
  }
}

.editor_article_toolbox {
  background-color: $my_white;
  // background-color: cornflowerblue;
  grid-area: form;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: crimson;
}

.editor_article_toolbox_container {
  // background-color: darkkhaki;
  height: 85%;
  width: 85%;
  display: flex;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  img {
    // height: 25%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 3px;
    margin-bottom: 1rem;
  }

  .upload_btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    // background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
    }

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 2rem;
      border: 1px solid $tangerine;
      border-radius: 5px;
      font-size: 0.9rem;
      font-family: $font_small;
      font-weight: 600;
      color: $tangerine;
      background-color: $color_category_line;

      &:hover {
        cursor: pointer;
        background-color: $tangerine;
        color: $my_white;
      }
    }
  }

  .field,
  .action {
    // background-color: darkred;
    margin-bottom: 1rem;
    width: 100%;
    font-family: $font_small;
    color: $my_dark;

    label {
      font-size: 0.9rem;
      font-weight: 600;
      color: $color_logo_main;
    }

    em {
      font-size: 0.7rem;
      color: $classic-blue;
    }
  }

  .field {
    input {
      height: 1.5rem;
      width: 100%;
      background-color: $my_light_grey;
      border: none;
      border-left: 1px solid $dark_blue;
    }

    select {
      height: 1.5rem;
      width: 100%;
      background-color: $my_light_grey;
      border: none;
      border-left: 1px solid $tangerine;
      color: $tangerine;
      font-size: 1rem;
      font-family: $font_bold;
    }
  }

  .actions {
    input {
      width: 100%;
      height: 2rem;
      border: 1px solid $classic-blue;
      border-radius: 5px;
      font-size: 0.9rem;
      font-weight: 600;
      color: $classic-blue;
      background-color: $light-blue;

      &:hover {
        cursor: pointer;
        background-color: $classic-blue;
        color: $my_white;
      }
    }
  }
}

/* Article show */

.article_show {
  background-color: $color_bg_main;
  // background-image: asset-data-url("patern.png");
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.article_show_wrapper {
  background-color: $my_white;
  // background-image: asset-data-url("patern.png");
  width: 900px;
}

.article_show_image {
  // background-color: crimson;
  width: 900px;
  max-height: 50vh;
  overflow: hidden;

  img {
    width: 900px;
    max-height: 66vh;
    object-fit: cover;
    object-position: center;
    -o-object-fit: cover;
    -o-object-position: center;
    overflow: hidden;
  }
}

.article_show_category {
  // background-color: yellowgreen;
  padding-top: 1rem;
  padding-bottom: 1rem;

  a {
    padding-right: 1rem;
    padding-left: 0.3rem;
    background-color: $tangerine;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: $font_bold;
    font-weight: 600;
    color: $my_white;
    cursor: pointer;

    &:hover {
      background-color: $my_white;
      color: $tangerine;
    }
  }
}

.article_show_title {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 2rem;
    font-family: $font_bold;
    color: $color_article_title;
    text-align: center;
  }
}

.article_show_header,
.article_show_foot {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  font-family: $font_small;

  span {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    color: $color_logo_main;
  }

  a {
    margin-right: 0.3rem;
    text-decoration: none;
    color: $color_logo_main;
    cursor: pointer;

    &:hover {
      color: $tangerine;
      border-bottom: 1px solid $tangerine;
      cursor: pointer;
    }
  }

  svg,
  .votes_count {
    color: $tangerine;
  }
}

.article_show_content {
  // background-color: darksalmon;
  padding: 2rem;
}

.article_show_content_wrapper {
  padding-left: 2rem;
  padding-right: 2rem;

  p {
    color: $color_article_txt;
    font-size: 1rem;
    font-family: $font_small;
    // font-weight: 600;
    line-height: 2rem;
  }
}

.article_show_author_tool {
  margin-top: 1.5rem;
  background-color: $my_white;
  background-image: asset-data-url("patern.png");
  width: 900px;
  padding: 3rem;

  p {
    font-family: $font_bold;
    font-size: 1.2rem;
    color: $dark_blue;
  }

  .toolbox {
    // background-color: yellow;
    width: 100%;
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.3rem;

    a {
      text-decoration: none;
      padding: 0.6rem;
      background-color: $light-blue;
      font-family: $font_bold;
      font-size: 1rem;
      font-weight: 600;
      color: $dark_blue;
      border: 2px solid $classic-blue;
      border-radius: 5px;
      text-align: center;

      &:hover {
        color: $my_white;
        background-color: $classic-blue;
      }
    }
  }
}
